body{
    background-image: url(/assets/header-bg.png);
  }
 
  .media-container{
    display: block;
    text-align: center;
  }

  .media-video{
    margin: 10px auto;
    max-width: 100%;
    height:auto;
    display: block;
    margin-top: 10px;
    
  }
  
  .media-img{
    margin: 10px auto;
    max-width: 100%;
    height:auto;
    display: block;
    border-radius: 50px;
  }
  .text{
    margin-left: 30px;
  }

  nav ul {
list-style: none; 
padding: 0;
margin: 0;
display: flex; 
justify-content: flex-end;
  }

nav ul li {
margin: 10px; 
}

nav ul li a {
text-decoration: none; 
color: black; 
margin-left: 4px;
font-size: small;
color: beige;
}


.link{
  text-decoration: none;
  color:rgb(11, 12, 12)
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #4CAF50;
  color: rgb(14, 13, 13);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #45a049;
}

img{
  max-width: 100%;
  height: auto; 
}
/*this makes my audio controls responsive to any screen size*/
audio{
  max-width: 100%;
  width: 100%;
}